/*
Colors
#ffc107
#343a40
#6c757d
#f8f9fa
#dedede

Fonts
font-family: 'Capriola', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Jura', sans-serif;
*/

/*------------------------------------------- General --------------------------------------------*/

body, html {
        background: #dedede;
        font-size: 18px;
        font-family: 'Jura', sans-serif;
        color: #343a40;
        line-height: 1.6em;
}

h1, h2, h3, 
h4, h5, h6 {
        font-family: 'Crimson Text', serif;
        text-transform: uppercase;
        text-align: center;
        color: #6c757d;
}

a {
        font-family: 'Capriola', sans-serif;
        font-size: 24pt;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
}

a:hover {
        text-decoration: none;
        color: #fff;
}

.btn {
        font-family:  'Capriola', sans-serif;
        font-size: 24pt;
        border-radius: 200px;
        color: #fff;
        text-transform: uppercase;
        padding: 8px 80px;
}

.btn:hover {
        border: 3px solid #fff;
}

.btn-warning {
        border: 3px solid #343a40;
}

.btn-dark {
        border: 3px solid #6c757d;
}

.btn-secondary {
        border: 3px solid #343a40;
}

ul {
        list-style: none;
}

.flex {
        display: flex;
}

.flash {
        display: block;
        padding: 10px 20px;
        color: rgb(1, 121, 47);
        margin: 0 14%;
        border-radius: 20px;
        line-height: normal;
        font-size: 16px;
        font-weight: 700;
}

/*------------------------------------------- Header --------------------------------------------*/

.header {
        width: 100%;
        background-image: linear-gradient(to bottom left, #fff, #6c757d);
        padding-bottom: 20px;
}

.header_nav  {
        background: #343a40;
        width: 100%;
        height: 165px;
        z-index: 10;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 90% 100%, 10% 100%, 0 80%);
}

.header_nav h1 {
        color: #ffc107;
        font-size: 48px;
        padding-top: 50px;
}

.nav_checkbox {
        display: none;
}

.nav_checkbox:checked ~ .nav_background {
        transform: scale(100);
}

.nav_checkbox:checked ~ .navigation_nav,
.nav_checkbox:checked ~ .navigation_form {
        opacity: 1;
        left: 0;
        width:100%;
}

.navi_btn {
        background: #343a40;
        color: #fff;
        height: 60px;
        width: 60px;
        position: fixed;
        top: 4.7%;
        right: 2.7%;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        text-align: center;
        cursor: pointer;
}

.nav_background {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: fixed;
        top: 5%;
        right: 3%;
        background-image: radial-gradient(#6c757d, #343a40);
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation_nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: -200%;
        z-index: 1500;
        opacity: 1;
        width: 0;
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
}

.navigation_item {
        margin: 10px;
}

.navigation_link {
        display: inline-block;
        font-size: 48px;
        padding: 25px 50px;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(255, 255, 255) 50%);
        background-size: 225%;
        transition: all 0.3s;
}

.navigation_link:hover {
        background-position: 100%;
        color: #6c757d;
        text-decoration: none;
        transform: translateX(10px);
}

.navigation_icon {
        position: relative;
        margin-top: 30px;
}

.navigation_icon,
.navigation_icon::before,
.navigation_icon::after
{
        width: 35px;
        height: 3px;
        background: #fff;
        display: inline-block;
        border-radius: 30%;
        transition: all 0.2s;

}

.navigation_icon::before,
.navigation_icon::after  {
        content: '';
        position: absolute;
        left: 0;
}

.navigation_icon::before {top: 10px;}
.navigation_icon::after {bottom: 10px;}

.navi_btn:hover .navigation_icon::before {
       top: 12px;
}

.navi_btn:hover .navigation_icon::after {
        bottom: 12px;
 }

 .nav_checkbox:checked + .navi_btn .navigation_icon {
         background-color: transparent;
 }

 .nav_checkbox:checked + .navi_btn .navigation_icon::before {
        transform: rotate(135deg);
        top: 0;
}

.nav_checkbox:checked + .navi_btn .navigation_icon::after {
        transform: rotate(-135deg);
        top: 0;
}

.info_logo {
        margin: 1% auto;
        height: 40vh;
}

.info_logo img {
        width: auto;
        height: 100%;
        display: block;
        margin: auto;
        transition: transform 0.3s;
}

.info_logo img:hover  {
        transform: translateY(-10px) scale(1.05);
}

.info_new {
        margin: 2% auto;
        width: 95%;
        background: #ffc107;
        border-radius: 10px;
        box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
}

.info_title {
        font-size: 64px;
        color: #343a40;
        padding-top: 30px;
}

.info_content {
        width: 50%;
        margin: auto;
        padding-top: 20px;
        text-align: center;
}

.info_btn {
        margin: 2% 0;
}

.infolettre_inscription,
.connect {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4500;
        background: rgba(0, 0, 0, 0.85);
        display: none;
}

.infolettre_form,
.connect_form {
        padding: 25px;
        width: 80%;
        height: 90%;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.infolettre_bg,
.connect_bg {
        padding: 25px;
        width: 90%;
        height: 90%;
        background: #343a40;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
        text-align: center;
}

.info_close,
.blog_close,
.connect_close {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 1.5%;
        right: 1%;
        background: #fff;
        cursor: pointer;
}

.info_close:hover,
.blog_close:hover,
.connect_close:hover {
        box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
}

.info_close::before,
.blog_close::before,
.connect_close::before {
        content: '';
        height: 4px;
        width: 40px;
        display: block;
        background: #343a40;
        position: absolute;
        left: 9%;
        top: 48%;
        transform: rotate(45deg);
        border-radius: 10px;
}

.info_close::after,
.blog_close::after ,
.connect_close::after {
        content: '';
        height: 4px;
        width: 40px;
        display: block;
        background: #343a40;
        position: absolute;
        left: 9%;
        top: 48%;
        transform: rotate(-45deg);
        border-radius: 10px;
}

.infolettre_header h2,
.connect h2 {
        font-size: 30pt;
        margin: 20px 0;
}

.infolettre_header p {
        color: #ffc107;
}

.infolettre_group_form,
.nav_form_group {
        margin: 60px 20%;
}

.infolettre_input,
.nav_form_input {
        width: 70%;
        padding:10px;
        border: none;
        border-radius: none;
}

.infolettre_input:focus,
.nav_form_input:focus {
        outline: 3px solid #ffc107;
}

.infolettre_bg button,
.connect_bg button {
        border: 3px solid #6c757d;
}

.info_radio_group {
        display: inline-block;
        width: 17%;
        margin: 30px;
}

.info_pref {
        display: block;
        background: #ffc107;
        border-radius: 5px;
        padding: 15px;
        font-size: 24px;
        font-weight: 700;
}

/*------------------------------------------- Main --------------------------------------------*/

.product {
        width: 100%;
        background-image: linear-gradient(125deg, #343a40 0%, #343a40 50%, #ffc107 50%);
}

.carousel_content {
        width: 100%;
        min-height: 100vh;
}

.carousel_detail {
        width: 50%;
        min-height: 100%;
        position: relative;
}

.carousel_title {
        font-size: 50px;
        margin: 75px auto;
}

.carousel_p {
        background: #fff;
        width: 45%;
        height: 55%;
        padding: 20px;
        line-height: normal;
        border-radius: 5px;
        box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: justify;
}

.carousel_img_title {
        font-size: 48px;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
}

.carousel_img {
        width: 50%;
        min-height: 100vh;
        position: relative;
}

.carousel_img img {
        height: 25%;
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #000;
        box-shadow: 6px 12px 20px rgba(0, 0, 0, 0.5);
}

.carousel_btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
}

.blog {
        width: 100%;
        position: relative;
        padding: 100px;
        background: url(../img/background_bulle.png) repeat-y center;
        background-size: contain;
        background-attachment: fixed;
}

.blog_article {
        padding: 50px;
        margin: auto;
        width: 60%;
        height: 95vh;
        position: fixed;
        top: 2%;
        left: 0;
        right: 0;
        z-index: 4500;
        background: #6c757d;
        border: 2px solid #343a40;
        overflow-y: scroll;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
        color: #fff;
        opacity: 0.98;
        display: none;
}

.blog_article h2,
.blog_article h4 {
        color: #343a40;
}

.blog_article h4 {
        margin-bottom: 60px;
        font-weight: 700;
}

.blog_article p {
        padding: 0 15%;
        text-align: justify;
}

.blog_title {
        font-size: 48px;
        color: #343a40;
        margin-bottom: 100px;
}

.blog_bg {
        background: #343a40;
        z-index: 100;
        width: 90%;
        padding: 40px;
        margin: 2% auto;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
        margin-bottom: 80px;
}

.blog_author {
        width: 40%;
        position: relative;
}

.blog_author_content {
        background: #ffc107;
        width: 215px;
        height: 215px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        transition: all 0.4s;
}

.blog_author_content:hover {
        background: #6c757d;
        transform: translate(-50%, -50%) scale(1.2);
}

.blog_author_content h4 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #343a40;
        font-size: 24pt;
}

.blog_content {
        width: 50%;
        position: relative;
}

.blog_content_title {
        font-size: 24pt;
        margin-bottom: 20px;
}

.blog_content_p {
        color: #6c757d;
        line-height: normal;
        margin-bottom: 80px ;
}

.blog_content button {
        position: absolute;
        right: 0;
        bottom: 0;
        border: 3px solid #6c757d;
}

.reservation,
.profil {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to bottom right, #ffc107, #6c757d);
        padding-top: 60px;
}

.reservation_form_bg,
.profil_bg {
        width: 85%;
        height: 95%;
        background: #6c757d;
        margin: auto;
        position: relative;
        box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.4);
}

.reservation_form_img {
        position: absolute;
        top: 0;
        right: 0;
        width: 55%;
        height: 100%;
        background: url(../img/goutes.jpg) no-repeat center;
        opacity: 0.4;
        background-size: cover;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.reservation_form {
        width: 50%;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0; 
        text-align: center;
}

.reservation_title {
        color: #343a40;
        text-transform: none;
        font-size: 36px;
        margin: 20px;
}

.reservation_error {
        display: block;
        padding: 5px 10px;
        color: rgb(207, 42, 0);
        margin: 0 14%;
        line-height: normal;
        font-size: 16px;
}

.res_radio_group {
        display: inline-block;
        margin: 10px;
}

.res_radio_label,
.info_radio_label {
        color: #ffc107;
        font-weight: 800;
        font-size: 14px;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
}

.res_radio_btn,
.info_radio_btn  {
        height: 20px;
        width: 20px;
        border: 4px solid #ffc107;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 0;
}

.res_radio_btn::after,
.info_radio_btn::after {
        content: '';
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #ffc107;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
} 

.res_radio_input,
.info_radio_input {
        display: none;
}

.res_radio_input:checked ~ .res_radio_label .res_radio_btn::after,
.info_radio_input:checked ~ .info_radio_label .info_radio_btn::after {
        opacity: 1;
}


.res_form_group:not(:last-child) {
        margin-bottom: 40px;
}

.res_input {
        padding: 10px;
        border-radius: 0;
        border: none;
        width: 55%;
}

.res_input:focus  {
        outline: 2px solid #ffc107;
}

::placeholder {
        color: #6c757d;
}

input, label {
        color: #000;
        font-family: 'Jura', sans-serif;
        font-weight: 700;
}

.profil_bg {
        background: #fff;
}

.profil_welcome {
        display: block;
        width: 100%;
        font-size: 48px;
        color: #343a40;
        position: absolute;
        left: 50%;
        top: -6%;
        transform: translateX(-50%);
}

.profil_title {
        font-size: 36px;
        padding: 80px 0 50px;
}

.profil_content {
        margin: auto;
        width: 70%;
        height: 55%;
        align-items: center;
}

.profil_info {
        width: 40%;
        padding: 50px;
}

.profil_info span {
        display: block;
        font-weight: bold;
}

.profil_product {
        width: 60%;
        text-align: center;
}

.profil_product img {
        width: 50%;
        height: auto;
}

.profil_important {
        display: block;
        width: 65%;
        font-size: 12pt;
        line-height: normal;
        margin: auto;
}

/*------------------------------------------- Footer --------------------------------------------*/

.footer {
        width: 100%;
        height: 45vh;
        background: #343a40;
        position: relative;
}

.footer::before {
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 0;
        background: #ffc107;
        border: 1px solid rgba(255, 255, 255, 0.445);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.footer_top {
        height: 40%;
        padding: 25px;
        align-items: center;
        justify-content: space-evenly;
}

.footer_top h2 {
        display: block;
        width: 30%;
        font-size: 48px;
        text-align: left;
}

.footer_social {
        width: 40%;
        justify-content: space-evenly
}

.footer_social img {
        height: 40px;
        width: auto;
        transition: all 0.3s;
}

.footer_social img:hover {
        transform: translateY(-5px);
}

.footer_top::after {
        content: '';
        display: block;
        width: 90%;
        height: 2px;
        background: #ffc107;
        position: absolute;
        top: 40%;
}

.footer_info,
.footer_legal {
        text-align: center;
        margin: 40px;
}

.footer_info a,
.footer_legal a {
        font-size: 16px;
        text-transform: none;
        margin: 10px;
        color: #dedede;
        font-weight: 300;
        transition: all 0.3s;
}

.footer_info a:hover,
.footer_legal a:hover {
        text-decoration: underline;
        color: #ffc107;
}

.footer_detail {
        text-align: center;
        color: #6c757d;
        font-size: 14px;
}

/*------------------------------------------- Admin --------------------------------------------*/

.admin {
        width: 90%;
        margin: auto;
}

.admin header {
        justify-content: space-between;
        align-items: center;
   }

.admin h2,
.insert h2,
.update h2,
.delete h2 {
     margin: 50px 0;
     font-size: 36px;
     text-transform: uppercase;
}

.admin button {
        height: 50px;
        width:150px;
        font-size: 16px;
        padding: 0;
   }

   .admin button span {
        font-size: 20px;
        line-height: 10px;
        font-weight: bold;
   }

   .retour {
        color: #343a40;
        font-size: 16px;
        transition: all 0.3s;
   }

   .retour:hover {
           color: #ffc107;
   }

   .admin-list {
        background: #fff;
        width: 100%;
        padding: 10px;
   }

   .admin-list table {
        width: 100%;
        border: 3px solid #000;
        padding: 10px;
        height: 150px;
        border-collapse: collapse;
   }
   
   .admin-list tr, td, th {
        border: 1px solid #000;
        padding: 10px;
   }
   
   .admin-list  th {
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.2);
   }

   .button-table {  
        transition: all 0.3s;
   }
   
   
   .button-table img {
        width: auto;
        height: 25px;
        margin-left: 10%;
        transition: all 0.3s;
   }
   
   .button-table img:hover {
        transform: scale(1.3);
   }
   
   .action {
        width: 10%;
   }

   .preview {
        width: 50%;
   }
   .date {
        width: 10%;
   }
   
   .insert-form,
   .update-form,
   .delete-form   {
        background: #fff;
        padding: 50px;
        position: relative;
   }
   
   .insert-form .input,
   .update-form .input {
        width: 100%;
        color: #343a40;
   }
   
   .insert-form textarea,
   .update-form textarea {
        height: 30vh;
        resize: none;
        margin-bottom: 50px
   }
   
   .insert-form .submit,
   .update-form .submit {
        width: 25%;
        height: 10%;
        position: absolute;
        bottom: 5%;
        left: 4%;
        margin: 0;
   }
   
   .insert-form .submit:hover,
   .insert-form .submit:active,
   .update-form .submit:hover,
   .update-form .submit:active {
        transform: translate(0, 0 );
   }
   
   .insert-form a,
   .update-form a {
        position: absolute;
        right: 4%;
        bottom: 10%;
        transition: all 0.3s;
   }
   
   .insert-form a:hover,
   .update-form a:hover  {
        color: #6c757d;
   }
   
   .insert-form a::before,
   .update-form a::before {
        content: '<';
        display: block;
        position: absolute;
        left: -40%;
        bottom: 5%;
   }
   
   .delete-form p {
        font-size: 1.4em;
   }
   
   .btn-delete {
        width: 50px;
        height: 30px;
        background: #dedede;
        border: 1px solid #343a40;
        padding: 15px 50px 15px 15px;
        border-radius: 40px;
        font-size: 1.2em;
        line-height: 1px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        color: #0b0025;
        transition: all 0.3s;
   }
   
   .red {
        background: #ffc107;
   }
   
   .btn-delete:hover {
        background: rgba(0, 0, 0, 0.5);
   }
   

/*------------------------------------------- Media --------------------------------------------*/

@media (max-width: 1250px) {

        a {
                font-size: 18pt;
        }

        .btn {
                font-size: 18pt;
                padding: 8px 60px;
        }

        .header_nav h1 {
                font-size: 36px;
        }

        .nav_form_input {
                width: 30%;
        }

        .infolettre_input {
                width: 100%;
                padding: 7px;
        }

        .info_radio_group {
                display: block;
                text-align: left;
                margin: 0;
                margin-left: 30%;
                width: 100%;
        }

        .carousel_content {
                flex-direction: column-reverse;
                position: relative;
        }

        .carousel_detail,
        .carousel_img {
                width: 100%;
                position: absolute;
        }

        .carousel_title {
                margin: 20px auto;
        }

        .carousel_img_title {
                font-size: 36px;
                top: 10%;
        }

        .carousel_img img {
                top: 30%;
        }

        .carousel_p {
                width: 50%;
                height: 35%;
                top: 65%;
                text-align: center;
        }

        .carousel_btn {
                bottom: 5%;
        }

        .blog_bg {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        .reservation_title {
                font-size: 30px;
        }

        .profil_product img {
                width: 80%;
        }


}

@media (max-width: 992px) {

        .header_nav h1 {
                font-size: 30px;
                padding-top: 50px;
                text-align: left;
                margin: 0 30px;
        }

        .navigation_link {
                display: inline-block;
                font-size: 30px;
                padding: 15px 35px;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(255, 255, 255) 50%);
                background-size: 225%;
                transition: all 0.3s;
        }

        .info_logo {
                height: 20vh;
        }

        .infolettre_form,
        .connect_form {
        padding: 25px;
        width: 80%;
        height: 100%;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

        .product {
        background-image: linear-gradient(to bottom, #343a40,  #ffc107);
        }

        .carousel_title {
                font-size: 40px;
        }

        .carousel_p {
                width: 70%;
                height: 35%;
                top: 65%;
                text-align: center;
        }

        .blog {
                padding: 0;
                background: none;
        }
     
        .blog_bg {
                display: block;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                width: 100%;
        }

        .blog_author {
                display: block;
                height: 250px;
                float: left;
                margin-right: 25px;
        }
        
        .blog_content {
                width: 100%;
        }
                
        .blog_content button {
                bottom: -25%;
        } 

        .reservation_form_img {
                display: none;
        }

        .reservation_form {
                width: 100%;
        }

        .footer_top h2 {
                font-size: 36px;
        }

        .footer_social img {
                height: 30px;
        }

        .profil_welcome {
                font-size: 24px;
        }

        .profil_title {
                font-size: 22px;
                padding: 60px 0 30px;
        }

        .profil_content {
                display: block;
        }

        .profil_info {
                width: 100%;
                padding: 20px;
        }

        .profil_product {
                width: 100%;
        }

        .profil_product img {
                width: 50%;
        }
        
        .profil_important {
                width: 85%;
                font-size: 10pt;
        }

}

@media (max-width: 600px) {

        .btn {
                padding: 4px 40px;
        }

        a {
                font-size: 16pt;
        }

        .header_nav  {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        .nav_form_input {
                width: 70%;
        }

        .infolettre_form {
                padding: 15px;
                width: 100%;
        }

        .infolettre_header h2 {
                font-size: 24pt;
                margin: 10px 0;
        }

        .infolettre_header p {
                font-size: 12pt;
                line-height: normal;
        }

        .product {
                min-height: 120vh;
        }
        
        .carousel_content {
                min-height: 120vh;
        }

        .carousel_p {
                height: 50%;
        }

        .carousel_img_title {
                top: -5%;
        }

        .carousel_img img {
                top: 13%;
        }

        .reservation,
        .profil {
                height: 120vh;
        }

        .reservation_title {
                font-size: 24px;
        }

        .res_radio_group {
                display: block;
                text-align: left;
                margin-left: 25%;
        }

        .res_input {
                padding: 10px;
                border-radius: 0;
                border: none;
                width: 75%;
        }

        .blog_author_content {
                width: 150px;
                height: 150px;
        }

        .blog_author {
                display: block;
                height: 250px;
                float: left;
                margin-right: 25px;
        }

        .blog_author_content h4 {
                font-size: 18pt;
        }

        .blog_content button {
                bottom: -15%;
        } 

        .blog_content h4 {
                font-size: 20pt;
                margin-bottom: 10px;
        }

        .footer_top h2 {
                width: 100%;
                text-align: center;
        }
        
        .footer_social {
                width: 100%;
                height: 25px;
        }

        .footer_top {
                flex-direction: column;
                height: 45%;
        }

        .footer_info a,
        .footer_legal a {
        font-size: 14px;
        text-transform: none;
        margin: 10px;
        color: #dedede;
        font-weight: 300;
        transition: all 0.3s;
        }

        .profil_title {
                font-size: 24px;
                padding: 40px 0 20px;
        }

        .profil_info p {
                font-size: 14px;
                line-height: normal;
        }

        .profil_product img {
                width: 80%;
        }


}